/* style.css */
body {
    font-family: Arial, sans-serif;
    background-image: url('bg-registration-form-7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#app {
    max-width: 600px;
    margin: 50px auto;
    background-color: #cde4ed;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
    display: grid;
    gap: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

label {
    display: block;
    margin-bottom: 5px;
}
